# Gerar senha forte 
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
# cd backend
# npm install bcrypt joi express-rate-limit xss-clean helmet


DATABASE_URL="postgresql://usuario:senha@localhost:5432/controle_contas?schema=public"
JWT_SECRET="<gerar-uma-chave-forte-com-node-e-crypto-randombytes>"
PORT=3000
FRONTEND_URL="http://localhost:5173"
